@font-face {
    font-family: titleFont;
    src: url('../fonts/Affogato_Sans-V1/Affogato-Bold.otf');
}
@font-face {
    font-family: paragraphsFont;//active = bold another = light
    src: url('../fonts/Affogato_Sans-V1/Affogato-Light.otf');
}
@font-face {
    font-family: linksFont;//smal caps
    src: url('../fonts/Affogato_Sans-V1/Affogato-Bold.otf');
}


