footer {
  float: left;
  position: relative;
  display: block;
  bottom: 0;
  color: #fff;
  width: 100%;
}
.oye-footer{
  background-image: url(../img/oye-logo.svg);
  width: 16px;
  height: 16px;
  float: left;
  padding: 8.5px;
  background-repeat: no-repeat;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin-top: 8px;
  margin-right: 40px;
  @media screen and (max-width: 800px){
    margin-right: 10px;
  }
  &:hover{
    opacity: 0.7;
  }
}
a#oye-link{
  color: #f7a3b3;
  text-decoration: none;
  outline: none;
  &:hover{
    opacity: 0.7;
  }
}
.social{
  float: left;
  padding: 7px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #cb225b;
  color: white;
  width: 100%;
  height: 50px;
}
.copyright {
  float: left;
  width: 100%;
  height: auto;
  color: #e76086;
  background-color: #ae103c;
  bottom: 0;
  font-size: 13px;
  font-family: "Affogato Light";
  text-align: center;
  padding: 5px;
}
//-------------------------------------------- link href footer ------------------///

.footer-nav{
  padding-right: 45px;
  width: auto;
  float: right;
  font-family: "Affogato Medium";
  font-variant: all-small-caps;
  @media screen and (max-width: 800px){
    padding-right: 45px;
    width: 61%;
  }

}

 .footer-nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
   @media screen and (max-width: 800px){
     padding: 14px 7px;
   }
}

.footer-nav a:hover {
  opacity: 0.7;
  color: white;
}

.footer-nav a.active {
  background-color: #4CAF50;
  color: white;
}
//--------------------------------------------- Social Media buttons -------------------------------------------//

.fa {
  padding: 8px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin-top: 8px;
  margin-right: 10px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: white;
  color: $red;
  width: 16px;
  height: 16px;
  border-radius: 100px 100px 100px 100px;
}

/* Twitter */
.fa-twitter {
  background: white;
  color: $red;
  width: 16px;
  height: 16px;
  border-radius: 100px 100px 100px 100px;
}

.fa-instagram{
  background: white;
  color: $red;
  width: 16px;
  height: 16px;
  border-radius: 100px 100px 100px 100px;
}

