
.img-slider {
  width: 100%;
  background-size: 300px;
  background-position-y: 40px;
  mix-blend-mode: lighten;
  float: left;
  border-radius: 100%;
  transition: 400ms;
  transition-timing-function: ease;
  @media screen and (max-width:800px) {
    width: 100%;
    height: 60%;
    background-size: 300px;
    background-position: CENTER;
    mix-blend-mode: lighten;
    border-radius: 100%;
  }
}
.left-content-img{
  height: 58vh;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
  }
}
.right-content-slideshow-wrap{
  height: 42vh;
  overflow: hidden;
  .right-content-item{
    transition: 600ms;
    transition-timing-function: ease-in;
    position: relative;
    display: block;
    float: left;
    height: 100%;
  }
}



